$small-padding: 4px;
$medium-padding: 15px;
$small-margin: 4px;
$medium-margin: 15px;

$sidebar-top-title-height: 74px;
$sidebar-top-title-color: #b5d3e8;
$header-height: 100px;
$common-border: 2px solid #eef0f2;
$subheader1-height: 0.5 * $header-height;
$subheader2-height: $header-height - $subheader1-height;

$tab-content-min-height: 87vh;
$white-background-min-height: 0.93 * $tab-content-min-height;
$tab-bar-margin: 15px;
$base-card-box-shadow: 0 1px 16px rgba(0, 21, 41, 0.08);

$base-transition: ease 0.2s;
